In [19]:
#ライブラリ
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [3]:
#データ準備
train =pd.read_table('data/train.tsv')
test = pd.read_table('data/test.tsv')
sample = pd.read_table('data/sample_submit.tsv')

In [12]:
#データの確認と前処理　テストデータ
#"sex"と"embarked"はone-hot-encoding が必要
train.head()

   id  survived  pclass     sex   age  sibsp  parch     fare embarked
0   3         1       1  female  35.0      1      0  53.1000        S
1   4         0       3    male  35.0      0      0   8.0500        S
2   7         0       3    male   2.0      3      1  21.0750        S
3   9         1       2  female  14.0      1      0  30.0708        C
4  11         1       1  female  58.0      0      0  26.5500        S

In [17]:
train.isnull().sum()

id           0
survived     0
pclass       0
sex          0
age         85
sibsp        0
parch        0
fare         0
embarked     2
dtype: int64

In [14]:
#one-hot-encoding
train_ohe = pd.get_dummies(train,dummy_na=True)
train_ohe.head()

,id,survived,pclass,age,sibsp,parch,fare,sex_female,sex_male,sex_nan,embarked_C,embarked_Q,embarked_S,embarked_nan
0,3,1,1,35.0,1,0,53.1000,1,0,0,0,0,1,0
1,4,0,3,35.0,0,0,8.0500,0,1,0,0,0,1,0
2,7,0,3,2.0,3,1,21.0750,0,1,0,0,0,1,0
3,9,1,2,14.0,1,0,30.0708,1,0,0,1,0,0,0
4,11,1,1,58.0,0,0,26.5500,1,0,0,0,0,1,0

In [16]:
#欠損値の確認　"age","embarked"
print(train_ohe.isnull().sum())

id               0
survived         0
pclass           0
age             85
sibsp            0
parch            0
fare             0
sex_female       0
sex_male         0
sex_nan          0
embarked_C       0
embarked_Q       0
embarked_S       0
embarked_nan     0
dtype: int64

In [18]:
train_ohe.describe()

,id,survived,pclass,age,sibsp,parch,fare,sex_female,sex_male,sex_nan,embarked_C,embarked_Q,embarked_S,embarked_nan
count,445.000000,445.000000,445.000000,360.000000,445.000000,445.000000,445.000000,445.000000,445.000000,445.0,445.000000,445.00000,445.000000,445.000000
mean,456.002247,0.402247,2.296629,29.211583,0.546067,0.431461,33.959971,0.350562,0.649438,0.0,0.177528,0.08764,0.730337,0.004494
std,256.703351,0.490903,0.834024,14.154300,1.195247,0.850489,52.079492,0.477683,0.477683,0.0,0.382545,0.28309,0.444284,0.066965
min,3.000000,0.000000,1.000000,0.670000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000
25%,227.000000,0.000000,2.000000,20.000000,0.000000,0.000000,7.925000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000
50%,463.000000,0.000000,3.000000,28.000000,0.000000,0.000000,15.000000,0.000000,1.000000,0.0,0.000000,0.00000,1.000000,0.000000
75%,679.000000,1.000000,3.000000,37.250000,1.000000,1.000000,31.387500,1.000000,1.000000,0.0,0.000000,0.00000,1.000000,0.000000
max,888.000000,1.000000,3.000000,80.000000,8.000000,5.000000,512.329200,1.000000,1.000000,0.0,1.000000,1.00000,1.000000,1.000000

In [ ]:
#欠損値の補完
#インピュータークラスのインスタンス化と（列平均）の学習

In [5]:
#テストデータの前処理
test.head()

   id  pclass     sex   age  sibsp  parch     fare embarked
0   0       3    male  22.0      1      0   7.2500        S
1   1       1  female  38.0      1      0  71.2833        C
2   2       3  female  26.0      0      0   7.9250        S
3   5       3    male   NaN      0      0   8.4583        Q
4   6       1    male  54.0      0      0  51.8625        S

,id,survived,pclass,age,sibsp,parch,fare
count,445.000000,445.000000,445.000000,360.000000,445.000000,445.000000,445.000000
mean,456.002247,0.402247,2.296629,29.211583,0.546067,0.431461,33.959971
std,256.703351,0.490903,0.834024,14.154300,1.195247,0.850489,52.079492
min,3.000000,0.000000,1.000000,0.670000,0.000000,0.000000,0.000000
25%,227.000000,0.000000,2.000000,20.000000,0.000000,0.000000,7.925000
50%,463.000000,0.000000,3.000000,28.000000,0.000000,0.000000,15.000000
75%,679.000000,1.000000,3.000000,37.250000,1.000000,1.000000,31.387500
max,888.000000,1.000000,3.000000,80.000000,8.000000,5.000000,512.329200